* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url(../assets/images/background.jpg);
}
header {
  display: flex;
  margin: 30px;
}
.logo {
  width: 30px;
  height: 30px;
}

.nav_link {
  font-size: 16px;
  line-height: 112%;
  color: #aa87a8;
  text-decoration: none;
  padding: 30px;
}
.h1 {
  display: flex;
  font-size: 50px;
  color: #95775e;
  justify-content: center;
  margin-bottom: 50px;
}
.main2 {
  background-color: rgba(204, 172, 206, 0.916);
  display: flex;
  flex-wrap: wrap;
}
.main2_div {
  display: flex;
  align-items: center;
  margin: 20px;
  padding: 10px;
}
.img {
  width: 300px;
  height: 200px;
}

/* Не работает


.img:hover {
  border-color: #b336b9;
  border: 3px;
} */
